<!DOCTYPE html>
<html>
<head>
    <title>Power Cloud-all Data</title>
</head>
<body>
    <center>
        <h1>
             Power Cloud - All Data
        </h1>
    </center>

    <h2>Form Entries</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td>{{ entry[0] }}</td>
                <td>{{ entry[1] }}</td>
                <td>{{ entry[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

